<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/views/templates/default/template.xhtml">

    <ui:define name="content"> 
        <div class="ui-g">
            <div class="ui-g-12">
            	<h:form>
            		<p:focus for="${p:resolveFirstComponentWithId('inputNombre', view).clientId}" />
            		<p:panel header="${unidadMedida.id == null ? 'Agregar' : 'Editar'} Unidad de Medida">
            			<p:panelGrid columns="2">
            				<p:outputLabel for="@next" value="Nombre" style="font-weight: bold" />
            				<p:inputText id="inputNombre" value="${unidadMedida.nombre}" size="30" />
            				
            				<p:outputLabel for="@next" value="Siglas" style="font-weight: bold" />
            				<p:inputText value="${unidadMedida.siglas}" size="10" />
            			</p:panelGrid>
            			
            			<f:facet name="footer">
            				<p:commandButton value="Guardar" action="guardar" icon="ui-icon-save" />
            				<p:commandButton value="Cancelar" action="cancelar" icon="ui-icon-cancel" immediate="true" />
            			</f:facet>
            		</p:panel>
            		
            		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            	</h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>