<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/views/templates/default/template.xhtml">

    <ui:define name="content"> 
        <div class="ui-g">
            <div class="ui-g-12">
            	<h:form>
            		<p:panel header="Unidades de Medida del Sistema">
            			<p:dataTable value="${modelo.listado}" var="fila" emptyMessage="Sin registros"
            				rowKey="${fila.id}" selection="${modelo.seleccionado}" selectionMode="single"
            				paginator="true" rows="3" paginatorAlwaysVisible="false" paginatorPosition="bottom">
            				<p:column headerText="ID" width="75"
            					filterable="true" filterBy="${fila.id}" filterMatchMode="contains" filterStyle="width: 90%"
            					sortable="true" sortBy="${fila.id}">
            					${fila.id}
            				</p:column>
            				
            				<p:column headerText="Nombre" width="250"
            					filterable="true" filterBy="${fila.nombre}" filterMatchMode="contains" filterStyle="width: 90%"
            					sortable="true" sortBy="${fila.nombre}">
            					${fila.nombre}
            				</p:column>
            				
            				<p:column headerText="Siglas" width="100"
            					filterable="true" filterBy="${fila.siglas}" filterMatchMode="contains" filterStyle="width: 90%"
            					sortable="true" sortBy="${fila.siglas}">
            					${fila.siglas}
            				</p:column>
            			</p:dataTable>
            			
            			<f:facet name="footer">
            				<p:commandButton value="Agregar" action="agregar" icon="ui-icon-add" />
            				<p:commandButton value="Editar" action="editar" icon="ui-icon-edit" disabled="${modelo.seleccionado == null}" />
            			</f:facet>
            		</p:panel>
            		
            		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            	</h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>