<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/views/templates/default/template.xhtml">

    <ui:define name="content"> 
        <div class="ui-g">
            <div class="ui-g-12">
            	<h:form>
            		<p:panel id="panelClientes" header="Listado de Cliente">
            			<p:dataTable value="${modelo.listado}" var="fila" emptyMessage="Sin registros"
            				rowKey="${fila.id}" selection="${modelo.seleccionado}" selectionMode="single">
            				
            				<p:column headerText="ID" width="75">
            					${fila.id}
            				</p:column>
            				
            				<p:column headerText="Primer Apellido" width="150">
            					${fila.primerApellido}
            				</p:column>
            				
            				<p:column headerText="Segundo Apellido" width="150">
            					${fila.segundoApellido}
            				</p:column>
            				
            				<p:column headerText="Nombre" width="150">
            					${fila.nombre}
            				</p:column>
            				
            				<p:column headerText="Mail" width="150">
            					${fila.mail}
            				</p:column>
            				
            			</p:dataTable>
            			
            			<f:facet name="footer">
            				<p:commandButton value="Agregar" action="agregar" icon="ui-icon-add" />
            				<p:commandButton value="Editar" action="editar" icon="ui-icon-edit" disabled="${modelo.seleccionado == null}" />
            				<p:commandButton value="Eliminar" action="eliminar" icon="ui-icon-delete" 
            					update="${p:resolveFirstComponentWithId('panelClientes', view).clientId}"
            					disabled="${modelo.seleccionado == null}">
            					<p:confirm header="Eliminar Cliente" message="Confirma la eliminación del Cliente?" />
            				</p:commandButton>
            			</f:facet>
            		</p:panel>
            		
            		<p:confirmDialog global="true">
            			<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
            			<p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" />
            		</p:confirmDialog>
            		
            		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            	</h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>