<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/views/templates/default/template.xhtml">

    <ui:define name="content"> 
        <div class="ui-g">
            <div class="ui-g-12">
            	<h:outputStylesheet>
            		.td{
            			width:150px;
            			font-weight: bold;
            		}
            		.td2{
            			width:400px;
            		}
            	</h:outputStylesheet>
            
            	<h:form>
            		<p:panel header="${orden.id==null?'Agregar':'Editar'} orden de pago">
            			<p:panelGrid columns="2" columnClasses="td, td2">
            				<p:outputLabel value="Folio" for="@next"/>
            				<p:inputText id="inputFolio" value="${orden.folio}" size="30"/>
            				
            				<p:outputLabel value="Estatus" for="@next"/>
            				<p:selectOneMenu value="${orden.estatus}" filter="true" filterMatchMode="contains" style="width:350px" converter="ObjectConverter">
            					<p:ajax event="itemSelect" update="${p:resolveFirstComponentWithId('panelCancelacion', view).clientId}"/>
            					<f:selectItems value="${modeloEstatus.listado}" var="fila" itemLabel="${fila.nombre}" itemValue="${fila}"/>
            				</p:selectOneMenu>
            				
            				<p:outputLabel value="Monto Total" for="@next"/>
           					<p:outputLabel id="etiquetaMontoTotalOrden" value="${orden.montoTotal}">
           							<f:convertNumber pattern="$###,###.00"/>
           					</p:outputLabel>
            			</p:panelGrid>
            			
            			<h:panelGroup id="panelCancelacion">
	            			<p:panelGrid columns="2" rendered="${orden.estatus=='CANCELADO'}"  columnClasses="td, td2">	
	            				<p:outputLabel value="Motivo Cancelación" for="@next"/>
	            				<p:inputTextarea value="${orden.motivoCancelacion}" cols="30" rows="3"/>
	            			</p:panelGrid>
            			</h:panelGroup>
            			
            			<p:dataTable id="tablaConceptos" value="${modeloConceptos.listado}" var="fila" rowKey="${fila.id}" selectionMode="single" 
            				selection="${modeloConceptos.seleccionado}" emptyMessage="Sin Resultados" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" rows="15">
            				<p:ajax event="rowSelect" update="${p:resolveFirstComponentWithId('botonesTabla', view).clientId}"/>
            				<p:column headerText="Concepto" width="100" filterable="true" filterBy="${fila.concepto}" filterMatchMode="contains"
            						sortable="true" sortBy="${fila.concepto}" filterStyle="width:90%">
            						${fila.concepto}
            				</p:column>
            				<p:column headerText="Cantidad" width="100" filterable="true" filterBy="${fila.cantidad}" filterMatchMode="contains"
            						sortable="true" sortBy="${fila.cantidad}" filterStyle="width:90%">
            						<h:outputText value="${fila.cantidad}">
            							<f:convertNumber pattern="###,###"/>
            						</h:outputText>
            				</p:column>
            				<p:column headerText="Monto Unitario" width="100" filterable="true" filterBy="${fila.montoUnitario}" filterMatchMode="contains"
            						sortable="true" sortBy="${fila.montoUnitario}" filterStyle="width:90%">
            						<h:outputText value="${fila.montoUnitario}">
            							<f:convertNumber pattern="$###,###.00"/>
            						</h:outputText>
            				</p:column>
            				<p:column headerText="Monto Total" width="100" filterable="true" filterBy="${fila.montoTotal}" filterMatchMode="contains"
            						sortable="true" sortBy="${fila.montoTotal}" filterStyle="width:90%">
            						<h:outputText value="${fila.montoTotal}">
            							<f:convertNumber pattern="$###,###.00"/>
            						</h:outputText>
            				</p:column>
	            			<f:facet name="footer">
	            				<h:panelGroup id="botonesTabla">
		            				<p:commandButton value="Agregar" action="crearConcepto" icon="ui-icon-add" oncomplete="PF('dialogoAgregadoConceptoWV').show();" 
		            					update="${p:resolveFirstComponentWithId('panelDialogo', view).clientId}"/>
		            				<p:commandButton value="Editar" action="editarConcepto" icon="ui-icon-edit" oncomplete="PF('dialogoAgregadoConceptoWV').show();" 
		            					update="${p:resolveFirstComponentWithId('panelDialogo', view).clientId}" disabled="${modeloConceptos.seleccionado==null}"/>
	            				</h:panelGroup>
	            			</f:facet>
            			</p:dataTable>
            			
            			
            			<f:facet name="footer">
            				<p:commandButton value="Guardar" action="guardar" icon="ui-icon-save" />
            				<p:commandButton value="Cancelar" action="cancelar" icon="ui-icon-cancel" immediate="true" />
            			</f:facet>
            		</p:panel>
            		
            		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            	</h:form>
            	
            	<h:form>
            		<h:panelGroup id="panelDialogo">
	            		<p:dialog widgetVar="dialogoAgregadoConceptoWV" header="${concepto.id==null?'Agregado':'Edición'} de concepto"
	            			modal="true" draggable="false" closable="false" resizable="false">
	            			<p:panelGrid columns="2">
            					<p:outputLabel value="Unidad de Medidad" for="@next" style="font-weight: bold;"/>
            					<p:selectOneMenu value="${concepto.unidadMedida}" filter="true" filterMatchMode="contains" style="width:350px" converter="ObjectConverter">
	            					<f:selectItems value="${modeloUM.listado}" var="fila" itemLabel="${fila.siglas} - ${fila.nombre}" itemValue="${fila}"/>
	            				</p:selectOneMenu>
            					
	            				<p:outputLabel value="Concepto" for="@next" style="font-weight: bold;"/>
            					<p:inputText id="inputConcepto" value="${concepto.concepto}" size="30"/>
            					
            					<p:outputLabel value="Cantidad" for="@next" style="font-weight: bold;"/>
            					<p:inputNumber value="${concepto.cantidad}" decimalPlaces="0" thousandSeparator="," size="30" onkeyup="actualizarMonto()"/>
            					
            					<p:outputLabel value="Monto Unitario" for="@next" style="font-weight: bold;"/>
            					<p:inputNumber value="${concepto.montoUnitario}" thousandSeparator="," decimalPlaces="2" symbol="$" size="30" onkeyup="actualizarMonto()"/>
            					
            					<p:outputLabel value="Monto Total" for="@next" style="font-weight: bold;"/>
            					<p:outputLabel id="etiquetaMontoTotal" value="${concepto.montoTotal}">
            							<f:convertNumber pattern="$###,###.00"/>
            					</p:outputLabel>
	            			</p:panelGrid>
	            			
	            			<f:facet name="footer">
	            				<p:commandButton value="Agregar" action="agregadoConcepto" icon="ui-icon-add" oncomplete="PF('dialogoAgregadoConceptoWV').hide();"
	            						update="${p:resolveFirstComponentWithId('tablaConceptos', view).clientId} ${p:resolveFirstComponentWithId('etiquetaMontoTotalOrden', view).clientId}" />
	            				<p:commandButton value="Cancelar" icon="ui-icon-close" immediate="true" oncomplete="PF('dialogoAgregadoConceptoWV').hide();" />
	            			</f:facet>
	            		</p:dialog>
            		</h:panelGroup>
            		<p:remoteCommand name="actualizarMonto" update="${p:resolveFirstComponentWithId('etiquetaMontoTotal', view).clientId}"/>
            		
            		
            		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            	</h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>