<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/views/templates/default/template.xhtml">

    <ui:define name="content"> 
        <div class="ui-g">
            <div class="ui-g-12">
            	<h:form>
            		<p:panel header="Ordenes de Pagos">
            			<p:panelGrid columns="2">
            				<p:outputLabel value="Cliente :"/>
            				<p:selectOneMenu value="${modeloClientes.seleccionado}" filter="true" filterMatchMode="contains" style="width:350px" converter="ObjectConverter">
            					<p:ajax event="itemSelect" oncomplete="actualizar();"/>
            					<f:selectItems value="${modeloClientes.listado}" var="fila" itemLabel="${fila.nombre} ${fila.primerApellido}  ${fila.segundoApellido}" itemValue="${fila}"/>
            				</p:selectOneMenu>
            			</p:panelGrid>
            			
            			<p:dataTable id="tablaOrdenesPagos" value="${modelo.listado}" var="fila" rowKey="${fila.id}" selectionMode="single" 
            				selection="${modelo.seleccionado}" emptyMessage="Sin Resultados" paginator="true" paginatorAlwaysVisible="false" paginatorPosition="bottom" rows="15">
            				<p:column headerText="Folio" width="100" filterable="true" filterBy="${fila.folio}" filterMatchMode="contains"
            						sortable="true" sortBy="${fila.folio}" filterStyle="width:90%">
            						${fila.folio}
            				</p:column>
            				<p:column headerText="Fecha Creación" width="100" filterable="true" filterBy="${fila.fechaCreacion}" filterMatchMode="contains"
            						sortable="true" sortBy="${fila.fechaCreacion}" filterStyle="width:90%">
            						${fila.fechaCreacionF}
            				</p:column>
            				<p:column headerText="Monto Total" width="100" filterable="true" filterBy="${fila.montoTotal}" filterMatchMode="contains"
            						sortable="true" sortBy="${fila.montoTotal}" filterStyle="width:90%">
            						<h:outputText value="${fila.montoTotal}">
            							<f:convertNumber pattern="$###,###.00"/>
            						</h:outputText>
            				</p:column>
            				<p:column headerText="Estatus" width="100" filterable="true" filterBy="${fila.estatus.nombre}" filterMatchMode="contains"
            						sortable="true" sortBy="${fila.estatus.nombre}" filterStyle="width:90%">
            						${fila.estatus.nombre}
            				</p:column>
            			</p:dataTable>
            			<f:facet name="footer">
            				<h:panelGroup id="panelBotonesInferiores">
	            				<p:commandButton value="Agregar" 	action="agregar" 	icon="ui-icon-add"/>
	            				<p:commandButton value="Editar" 	action="editar" 	icon="ui-icon-add" disabled="${modelo.seleccionado==null}"/>
	            				<p:commandButton value="Eliminar" 	action="eliminar" 	icon="ui-icon-add" disabled="${modelo.seleccionado==null}"
	            					update="${p:resolveFirstComponentWithId('tablaOrdenesPagos', view).clientId} ${p:resolveFirstComponentWithId('panelBotonesInferiores', view).clientId}">
	            					<p:confirm header="Elminar Orden de Pago" message="¿Esta Seguro De Eliminar La Orden De Pago?"/>
	            				</p:commandButton>
            				</h:panelGroup>
            			</f:facet>
            		</p:panel>
            		
            		<p:remoteCommand action="actualizar" name="actualizar" update="${p:resolveFirstComponentWithId('tablaOrdenesPagos', view).clientId}
            			${p:resolveFirstComponentWithId('panelBotonesInferiores', view).clientId}"/>
            		
            		<p:confirmDialog global="true">
            			<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no ui-button-flat"/>
            			<p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" />
            		</p:confirmDialog>
            		
            		<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
            	</h:form>
            </div>
        </div>
    </ui:define>
</ui:composition>